@tailwind base;
@tailwind components;
@tailwind utilities;

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.successful {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  z-index: 50;
  margin: 0;
  width: auto;
  max-width: 300px; 
}